@font-face {
    font-family: 'MacPawFixel';
    src: url("../../../assets/fonts/MacPawFixel/FixelText-Thin.woff2") format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MacPawFixel';
    src: url("../../../assets/fonts/MacPawFixel/FixelText-ExtraLight.woff2") format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'MacPawFixel';
    src: url("../../../assets/fonts/MacPawFixel/FixelText-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MacPawFixel';
    src: url("../../../assets/fonts/MacPawFixel/FixelText-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MacPawFixel';
    src: url("../../../assets/fonts/MacPawFixel/FixelText-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MacPawFixel';
    src: url("../../../assets/fonts/MacPawFixel/FixelText-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MacPawFixel';
    src: url("../../../assets/fonts/MacPawFixel/FixelText-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MacPawFixel';
    src: url("../../../assets/fonts/MacPawFixel/FixelText-ExtraBold.woff2") format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MacPawFixel';
    src: url("../../../assets/fonts/MacPawFixel/FixelText-Black.woff2") format('woff2');
    font-weight: 900;
    font-style: normal;
}