@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin size($value) {
    width: $value;
    height: $value;
}

@mixin bg-image($url) {
    background-image: url($url);
    background-size: cover;
    background-position: center;
}

@mixin center-elem {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

@mixin hover-transition {
    transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
}