$line-height: 8px;
$gap-text-line: 20px;
$fixed-gap-text-line: $line-height + $gap-text-line * 2;

.about {
    width: 100%;
    height: 570px;
    position: relative;
    overflow: hidden;
    --swiper-pagination-bottom: 40px;
    
    &__wrapper {
        width: 100%;
        height: 100%;

        &__slide {
            display: flex !important;
            justify-content: flex-start;
            text-align: start;

            &__content {
                text-wrap: wrap;
                height: 100%;
                width: 50%;
                position: relative;

                &__line {
                    position: absolute;
                    height: $line-height;
                    width: 100%;
                    border: none;
                    background: #A40806;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                }  

                h3 {
                    text-wrap: wrap;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 120%;
                    /* or 84px */
                }

                p {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 25px;
                }

                h3, p {
                    // position changing in js
                    padding: 0 0 0 120px;
                    position: absolute;
                    color: #FFFFFF;
                }
            }

            &:nth-child(even) {
                justify-content: flex-end;
                .about__wrapper__slide__content {
                    h3, p {
                        padding: 0 120px 0 0;
                    }
                }
            }

            &:nth-child(1) {
                @include bg-image("../assets/images/backgrounds/about-bg-1.webp")
            }
        
            &:nth-child(2) {
                @include bg-image("../assets/images/backgrounds/about-bg-2.webp")
            }
        
            &:nth-child(3) {
                @include bg-image("../assets/images/backgrounds/about-bg-3.webp")
            }
        }
    }
}


@media screen and (max-width: $tablet) {
    .about {
        --swiper-pagination-bottom: 0;

        &__wrapper {
            &__slide {
                &__content {
                    h3 {
                        font-size: 48px;
                    }
    
                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }

                    h3, p {
                        padding: 0 0 0 60px;
                    }
                }

                &:nth-child(even) {
                    .about__wrapper__slide__content {
                        h3, p {
                            padding: 0 60px 0 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .about {
        height: 360px;

        &__wrapper {    
            &__slide {
                &__content {
                    gap: 12px;
                    width: 100%;

                    h3 {
                        font-size: 28px;
                    }

                    h3, p {
                        width: 100%;
                        text-align: center;                
                        padding: 0 12px;
                    }
                }

                &:nth-child(even) {
                    .about__wrapper__slide__content {
                        h3, p {
                            padding: 0 12px;
                        }
                    }
                }
            }
        }
    }
}
