.about {
    width: 100%;
    height: 570px; /* или любое другое значение */
    position: relative; /* важно для правильного позиционирования */
    overflow: hidden;
    --swiper-pagination-bottom: 40px;
    
    &__wrapper {
        width: 100%;
        height: 100%;

        &__slide {
            display: flex !important;
            justify-content: flex-start;
            text-align: start;

            &__content {
                @include flex-column;
                text-wrap: wrap;
                height: 100%;
                width: 50%;
                padding-top: 124px;

                h3 {
                    text-wrap: wrap;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 120%;
                    /* or 84px */
                }

                &__line {
                    height: 8px;
                    width: 100%;
                    border: none;
                    background: #A40806;
                }

                p {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 25px;
                }

                h3, p {
                    margin: 0;
                    padding: 0 0 0 120px;
                    color: #FFFFFF;
                }
            }

            &:nth-child(even) {
                justify-content: flex-end;
                .about__wrapper__slide-content {
                    h3, p {
                        padding: 0 120px 0 0;
                    }
                }
            }

            &:nth-child(1) {
                @include bg-image("/assets/images/backgrounds/about-bg-1.webp")
            }
        
            &:nth-child(2) {
                @include bg-image("/assets/images/backgrounds/about-bg-2.webp")
            }
        
            &:nth-child(3) {
                @include bg-image("/assets/images/backgrounds/about-bg-3.webp")
            }
        }
    }
}
