$pagination-circle-size: 20px;
$padding-wrapper-bottom: 68px;
$fixed-padding-wrapper-bottom: $pagination-circle-size + $padding-wrapper-bottom;
$button-navigation-size: 76px;
$navigation-sides-offset: calc(-1 * $button-navigation-size / 2);
$general-side-padding: 120px;
$padding-gallery-container: $general-side-padding - (- $navigation-sides-offset);

.gallery {
    background-color: #111111;
    padding: 110px $padding-gallery-container 86px;
    position: relative;

    &__fog_red {
        position: absolute;
        top: 8%;
        left: 34%;
        width: 321px;
        height: auto;
        aspect-ratio: 1;
        background: #A40806;
        filter: blur(250px);
        -webkit-filter: blur(250px);
    }

    &__switcher {
        display: flex !important;
        flex-direction: column;
        gap: 48px;
        width: 100%;
        height: 100%;
        margin: 0;

        &__header {
            @include flex-row;
            align-items: flex-end;
            flex-wrap: wrap;
            padding: 0 calc($button-navigation-size / 2);
    
            & > * {
                flex: 1;
            }
    
            &__controls {
                @include flex-column;
                justify-content: flex-end;
                gap: 16px;

                > .swiper-pagination,
                > .swiper-scrollbar {
                    position: unset !important;
                    width: 100% !important;
                }

                > .swiper-pagination {
                    display: flex !important;
                    justify-content: space-between;
                    width: 100% !important;

                    .swiper-pagination-bullet {
                        margin: 0 !important;
                        text-align: center;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 100%;
                        color: #FCFBF9;
                        opacity: 0.5;
                        background: transparent;
                    }
                    
                    .swiper-pagination-bullet-active {
                        color: #FCFBF9;
                        opacity: 1;
                        background: transparent;
                    }
                }

                > .swiper-scrollbar {
                    --swiper-scrollbar-bg-color: rgba(255, 255, 255, 0.1);
                    --swiper-scrollbar-drag-bg-color: #fff;
                    --swiper-scrollbar-size: 4px;
                    left: 0;

                    .swiper-scrollbar-drag {

                        > .additional-scrollbar {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            background: rgba(255, 255, 255, 0.6);
                            filter: blur(5px);
                            -webkit-filter: blur(5px);
                            z-index: 1;
                        }
                    }
                    
                }
            }

            h2 {
                text-align: start;
                height: auto;
            }

            .swiper-pagination-bullet {
                width: auto;
                height: auto;
                background: transparent;
                border: none;
            }
        
            .swiper-pagination-bullet-active  {
                background: transparent;
            }
        }
    
        .swiper, .swiper-wrapper, .swiper-slide {
            background: transparent;
        }

        &__wrapper {
            &__slide {
                &__container {
                    max-width: 100%;
                    margin-inline: auto;
                    padding: 0 calc($button-navigation-size / 2);
                    position: relative;

                    &__inner {
                        width: 100%;
                        height: 100%;
                        position: static !important;
                        /* offset for navigation buttons */
                        --swiper-navigation-sides-offset: #{$navigation-sides-offset}; 
            
                        &__fog_black-sides {
                            pointer-events: none;
                            position: absolute;
                            width: calc(100% - $button-navigation-size);
                            height: calc(100% - $fixed-padding-wrapper-bottom);
                            z-index: 40;
                            background: linear-gradient(90deg, #111111 0%, rgba(17, 17, 17, 0) 48.44%, #111111 100%);
                        }
            
                        > .swiper-wrapper {
                            padding-bottom: $fixed-padding-wrapper-bottom;
                            
                            .swiper-slide {
                                height: 337px;
                                width: auto;
                                aspect-ratio: 1;
                                @include flex-center;
            
                                video {
                                    max-height: 100%;
                                    width: 100%;
                                }
                            }
                        }
            
                        &__button-navigation {
                            @include flex-row;
                            justify-content: space-between;
                            position: absolute;
                            top: 0;
                            width: calc(100% - $button-navigation-size);
                            height: calc(100% - $fixed-padding-wrapper-bottom);
            
                            .swiper-button-next, 
                            .swiper-button-prev {
                                position: relative;
                                top: unset !important;
                                bottom: unset !important;
                                @include size($button-navigation-size);
                                background: #111111;
                                // background: aqua;
                                z-index: 50;
                                border-radius: 50%;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                -ms-border-radius: 50%;
                                -o-border-radius: 50%;
                            }

                            .swiper-button-next::after, 
                            .swiper-button-prev::after {
                                color: #FFFFFF;
                                font-size: 24px;
                                line-height: 11px;
                            }
                        }
                        
                        .swiper-pagination {
                            position: absolute;
                            bottom: 0px !important;
            
                            > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
                                bottom: 0px !important;
                            }
                        }
                    }
            
                    & .photos {
                        .swiper-slide:nth-child(1) {
                            @include bg-image("../assets/images/content/gallety_photo 1.png");
                        }
                        .swiper-slide:nth-child(2) {
                            @include bg-image("../assets/images/content/gallety_photo 2.png");
                        }
                        .swiper-slide:nth-child(3) {
                            @include bg-image("../assets/images/content/gallety_photo 1.png");
                        }
                        .swiper-slide:nth-child(4) {
                            @include bg-image("../assets/images/content/gallety_photo 2.png");
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    $pagination-circle-size: 20px;
    $padding-wrapper-bottom: 42px;
    $fixed-padding-wrapper-bottom: $pagination-circle-size + $padding-wrapper-bottom;
    $button-navigation-size: 76px;
    $navigation-sides-offset: calc(-1 * $button-navigation-size / 2);
    $general-side-padding: 60px;
    $padding-gallery-container: $general-side-padding - (- $navigation-sides-offset);
    
    .gallery {
        background-color: #111111;
        padding: 36px $padding-gallery-container 86px;
        position: relative;
    
        &__fog_red {
            width: 240px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }

        &__switcher {    
            &__header {
                flex-direction: column;
                gap: 20px;
                
                & > * {
                    width: 100%;
                }
                h2 {
                    text-align: center;
                }
            }

            &__wrapper {
                &__slide {
                    &__container {
                        padding: 0 calc($button-navigation-size / 2);
    
                        &__inner {
                            --swiper-navigation-sides-offset: #{$navigation-sides-offset}; 
                
                            &__fog_black-sides {
                                width: calc(100% - $button-navigation-size);
                                height: calc(100% - $fixed-padding-wrapper-bottom);
                            }
                
                            > .swiper-wrapper {
                                padding-bottom: $fixed-padding-wrapper-bottom;

                                .swiper-slide {                
                                    video {
                                        max-height: 100%;
                                        width: 100%;
                                    }
                                }
                            }
                
                            &__button-navigation {
                                width: calc(100% - $button-navigation-size);
                                height: calc(100% - $fixed-padding-wrapper-bottom); 
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .gallery {
        &__switcher {
            &__header {
                &__controls {
                    > .swiper-pagination {
                        .swiper-pagination-bullet {
                            font-size: 16px;
                        }
                    }
                }
            }

            &__wrapper {
                &__slide {
                    &__container {    
                        &__inner {
                            > .swiper-wrapper {
                                .swiper-slide {                
                                    height: 280px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}