.header {
    @include flex-row;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
    padding: 8px 50px;
    background: rgba(17, 17, 17, 0.4);
    backdrop-filter: blur(20px);

    & > * {
        flex: 1;
    }

    &__logo {
        img {
            height: 82px;
            width: 148px;
        }
    }

    &__nav {
        .header__nav-list {
            @include flex-row;
            justify-content: space-between;
            list-style-type: none;
            padding: 0;

            .header__nav-item {
                .header__nav-link {
                    text-decoration: none;
                    font-family: 'MacPawFixel', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;

                    color: rgba(242, 243, 255, 0.5);
                }
            }
        }
    }

    &__buttons {
        @include flex-row;
        justify-content: center;
        gap: 42px;

        .header__lang-button {
            @include center;
            height: 46px;
            width: 100px;
            border: 2px solid #FFFFFF;
            color: #F2F3FF;
            background: rgba(17, 17, 17, 0.4);
            backdrop-filter: blur(20px);
        }

        .header__buy-now-button {
            @include center;
            height: 46px;
            width: 172px;
            padding: 16px 40px;
            gap: 10px;

            border: 0px;
            background: #A40806;

            font-family: 'MacPawFixel', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;

            leading-trim: both;
            text-edge: cap;
            text-transform: uppercase;
            text-wrap: nowrap;

            color: #FFFFFF;
        }
    }
}

@media (hover: hover) {
    .header__nav-link:hover {
        font-weight: 700;
        color: #F2F3FF;
    }

    .header__lang-button:hover {
        box-shadow: 0px 0px 30px rgba(164, 8, 6, 0.5);
    }

    .header__buy-now-button:hover {
        border: 6px solid #A40806;
        box-shadow: 0px 0px 30px #A40806;
        font-weight: 700;
    }
}

@media (hover: none) {
    .header__nav-link:active {
        font-weight: 700;
        color: #F2F3FF;
    }

    .header__lang-button:active {
        box-shadow: 0px 0px 30px rgba(164, 8, 6, 0.5);
    }

    .header__buy-now-button:active {
        border: 6px solid #A40806;
        box-shadow: 0px 0px 30px #A40806;
        font-weight: 700;
    }
}
