.banner {
    @include bg-image("/assets/images/backgrounds/home-bg.webp");
    height: 720px;
    // TODO: check media in fog_ellipse

    &__content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // deleted rotate -180deg and fix gradient 180deg, as a result 0deg
        background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0) 100%);

        &__fog_ellipse {
            position: absolute;
            top: -100px;
            width: 100%;
            height: auto;
            max-width: 520px;
            aspect-ratio: 1;
            @include center-elem;
            background: rgba(17, 4, 4, 0.75);
            filter: blur(75px);
    
            @media (max-width: 520px) {
                top: 0;
            }
        }
    
        &__fog_bottom {
            position: absolute;
            width: 100%;
            height: 382px;
            bottom: 0;
            left: 0;
            // deleted rotate -180deg and fix gradient 180deg, as a result 0deg
            background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
            z-index: 1;
        }

        &__logo-image {
            position: absolute;
            top: 100px;
            width: 100%;
            max-width: 414px;
            @include center-elem;
        }

        &__hero-image {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            max-width: none;
            top: 0;
            object-fit: cover;
            margin: 38px auto 32px;
        }

        &__platforms {
            position: absolute;
            bottom: 151px;
            width: 100%;
            // deleted rotate 180deg (no sense)
            background: rgba(17, 17, 17, 0.05);
            backdrop-filter: blur(25px);
            -webkit-backdrop-filter: blur(25px);
            z-index: 10;

            &__container {
                @include flex-column;
                gap: 24px;
                padding: 24px 0;

                h4 {
                    margin: 0;
                    text-transform: uppercase;
                    
                    font-family: 'MacPawFixel';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 44px;

                    leading-trim: both;
                    text-edge: cap;
                    text-align: center;

                    color: #FFFFFF;
                    text-shadow: 0px 4px 75px #000000;
                }

                ul {
                    @include flex-row;
                    justify-content: center;
                    flex-wrap: wrap;
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    gap: 20px 60px;
                }

                img {//TODO: decrease depends on media
                    @include size(56px);
                }
            }
        }
    }
}

@media (hover: hover) {
    .banner__content__platforms__container {
        img:hover {
            filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
            -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
        }
    }
}

@media (hover: none) {
    .banner__content__platforms__container {
        img:active {
            filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
            -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
        }
    }
}