$checkbox-size: 38px;

.newsletter {
    position: relative;

    &__fog_red {
        @include center-elem;
        position: absolute;
        top: 72px;
        height: auto;
        width: 321px;
        aspect-ratio: 1;
        background: #A40806;
        filter: blur(250px);
        -webkit-filter: blur(250px);
        z-index: 10;
    }

    &__content {
        position: relative;
        z-index: 20;
        padding: 24px 120px 40px;
        @include flex-column;
        justify-content: center;

        &__subscription-form {
            @include flex-column;
            justify-content: center;
            width: 100%;
            max-width: 600px;
            margin-top: 52px;
            gap: 64px;
            
            &__input-text-group {
                position: relative;
                width: 100%;

                label {
                    position: absolute;
                    text-wrap: wrap;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    text-wrap: nowrap;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                }

                input {
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.025) 48.44%, rgba(255, 255, 255, 0) 100%);
                    border: 2px solid #A40806;
                    outline: none;
                    width: 100%;
                    max-width: 600px;
                    padding: 29px 16px;
                    text-align: center;
                    text-wrap: wrap;
                    width: 100%;

                    &:not(:placeholder-shown) ~ label,
                    &:focus ~ label {
                        padding: 0 10px;
                        background: #A40806;
                        width: auto;
                        font-size: 16px;
                        letter-spacing: .4em;
                        transform: translateY(-170%) translateX(-50%);
                        -webkit-transform: translateY(-170%) translateX(-50%);
                        -moz-transform: translateY(-170%) translateX(-50%);
                        -ms-transform: translateY(-170%) translateX(-50%);
                        -o-transform: translateY(-170%) translateX(-50%);
                        transition: transform 1s ease, background 1s ease, font-size 1s, width 3s ease;
                        -webkit-transition: transform 1s ease, background 1s ease, font-size 1s, width 3s ease;
                        -moz-transition: transform 1s ease, background 1s ease, font-size 1s, width 3s ease;
                        -ms-transition: transform 1s ease, background 1s ease, font-size 1s, width 3s ease;
                        -o-transition: transform 1s ease, background 1s ease, font-size 1s, width 3s ease;
                    }

                    &:not(:focus) ~ label {
                        width: 100%;
                        transition: transform 1s ease, background .5s ease, font-size 1s, width 4s ease;
                        -webkit-transition: transform 1s ease, background .5s ease, font-size 1s, width 4s ease;
                        -moz-transition: transform 1s ease, background .5s ease, font-size 1s, width 4s ease;
                        -ms-transition: transform 1s ease, background .5s ease, font-size 1s, width 4s ease;
                        -o-transition: transform 1s ease, background .5s ease, font-size 1s, width 4s ease;
                        transition-delay: 0s, 0s, 0s, 1s;
                    }
                }

                input,
                label {
                    // height: 22px;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 44px;
                    leading-trim: both;
                    text-edge: cap;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            &__privacy-policy {
                display: flex;
                align-items: center;
                width: 100%;

                input {
                    appearance: none;
                    @include size($checkbox-size);
                    border: 2px solid #A40806;
                    position: relative;

                    // Stylin cross
                    &:checked::before, 
                    &:checked::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 80%;
                        height: 2px;
                        background-color: #A40806;
                    }

                    &:checked::before {
                        transform: translate(-50%, -50%) rotate(-45deg);
                        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
                        -moz-transform: translate(-50%, -50%) rotate(-45deg);
                        -ms-transform: translate(-50%, -50%) rotate(-45deg);
                        -o-transform: translate(-50%, -50%) rotate(-45deg);
                    }

                    &:checked::after {
                        transform: translate(-50%, -50%) rotate(45deg);
                        -webkit-transform: translate(-50%, -50%) rotate(45deg);
                        -moz-transform: translate(-50%, -50%) rotate(45deg);
                        -ms-transform: translate(-50%, -50%) rotate(45deg);
                        -o-transform: translate(-50%, -50%) rotate(45deg);
                    }
                }

                label {
                    height: auto;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    leading-trim: both;
                    text-edge: cap;

                    color: #FCFBF9;
                    margin-left: 14px;
                    flex: 1;
                    white-space: wrap;
                    
                    a {
                        color: #A40806;
                    }
                }
            }
            
            .form-error-message {
                color: #FCFBF9;
                //height: 38px;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                leading-trim: both;
                text-edge: cap;
                visibility: hidden;
                opacity: 0;
                position: absolute;

                &.alert {
                    position: relative;
                    visibility: visible;
                    opacity: 1;
                }
            }

            button {
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                /* identical to box height */
                text-transform: uppercase;
                color: #A40806;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            button,
            .alert {      
                padding: 15px 30px;
                background: rgba(17, 17, 17, 0.5);
                border: 4px solid #A40806;
                box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.75);
                @include hover-transition;
            }
        }

        &__follow-links {
            position: relative;
            @include flex-column;
            flex-wrap: wrap;
            margin-top: 113px;
            width: 100%;
            max-width: 600px;
            gap: 41px;

            h3 {
                //height: 31px;
                font-weight: 600;
                font-size: 45px;
                line-height: 62px;
                leading-trim: both;
                text-edge: cap;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #FCFBF9;
            }

            &__wrapper {
                @include flex-column;
                width: 100%;
                gap: 68px;

                &__row {
                    &_bright {
                        img {
                            max-width: 50px;
                        }
                    }

                    &_dark {
                        img {
                            max-height: 75px;
                            max-width: 125px;
                        }
                    }

                    &_bright,
                    &_dark {
                        @include flex-row;
                        width: 100%;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        gap: 16px;
                        list-style-type: none;
                        
                        img {
                            @include size(auto);
                            max-height: 75px;
                            max-width: 125px;
                            @include hover-transition;
                        }
                    }
                }
            }
        }
    }
}

@media (hover: hover) {
    .newsletter__content__subscription-form {
        & button:hover {
            background: #A40806;
            color: #111111;
            box-shadow: 0px 1px 50px 0px #A40806BF;
        }
    }

    .newsletter__content__follow-links__wrapper__row_bright {
        img:hover {
            filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
            -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
        }
    }

    .newsletter__content__follow-links__wrapper__row_dark {
        img:hover {
            // changed 50px to 30px for better view
            filter: drop-shadow(0px 0px 30px #A40806);
            -webkit-filter: drop-shadow(0px 0px 30px #A40806);
        }
    }
}

@media (hover: none) {
    .newsletter__content__subscription-form {
        & button:active {
            background: #A40806;
            color: #111111;
            box-shadow: 0px 1px 50px 0px #A40806BF;
        }
    }

    .newsletter__content__follow-links__wrapper__row_bright {
        img:active {
            filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
            -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
        }
    }

    .newsletter__content__follow-links__wrapper__row_dark {
        img:active {
            // changed 50px to 30px for better view
            filter: drop-shadow(0px 0px 30px #A40806);
            -webkit-filter: drop-shadow(0px 0px 30px #A40806);
        }
    }
}

@media screen and (max-width: $mobile) {
    .newsletter {
        &__fog_red {
            top: 36px;
            max-width: 321px;
            width: 100%;
        }    
        &__content {
            padding: 24px 60px 40px;

            &__subscription-form {
                &__input-text-group {
                    input {
                        &:not(:placeholder-shown) ~ label,
                        &:focus ~ label {
                            letter-spacing: initial;
                            transform: translateY(-200%) translateX(-50%);
                            -webkit-transform: translateY(-200%) translateX(-50%);
                            -moz-transform: translateY(-200%) translateX(-50%);
                            -ms-transform: translateY(-200%) translateX(-50%);
                            -o-transform: translateY(-200%) translateX(-50%);
                        }
                    }
                    label,
                    input {
                        font-size: 16px;
                        line-height: 24px;
                        text-wrap: wrap;
                    }
                }
            }

            &__follow-links {
                margin-top: 56px;
                gap: 24px;
    
                h3 {
                    //height: 31px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 120%;
                }
    
                &__wrapper {
                    gap: 24px;
    
                    &__row {
                        &_bright {
                            img {
                                max-width: 40px;
                            }
                        }
    
                        &_dark {
                            img {
                                max-height: 52px;
                                max-width: 70px;
                            }
                        }

                        &_bright,
                        &_dark {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}