@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MacPawFixel", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #111111;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000000;
}

h2 {
  font-family: "MacPawFixel";
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 52px;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  color: #FCFBF9;
}
h2 span {
  font-weight: 100;
}

.swiper-pagination {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(217, 217, 217, 0.25);
}
.swiper-pagination .swiper-pagination-bullet-active {
  border: none;
  background: rgba(217, 217, 217, 0.5);
}

@font-face {
  font-family: "MacPawFixel";
  src: url(/assets/fonts/MacPawFixel/FixelText-Thin.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "MacPawFixel";
  src: url(/assets/fonts/MacPawFixel/FixelText-ExtraLight.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "MacPawFixel";
  src: url(/assets/fonts/MacPawFixel/FixelText-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MacPawFixel";
  src: url(/assets/fonts/MacPawFixel/FixelText-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MacPawFixel";
  src: url(/assets/fonts/MacPawFixel/FixelText-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MacPawFixel";
  src: url(/assets/fonts/MacPawFixel/FixelText-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MacPawFixel";
  src: url(/assets/fonts/MacPawFixel/FixelText-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MacPawFixel";
  src: url(/assets/fonts/MacPawFixel/FixelText-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "MacPawFixel";
  src: url(/assets/fonts/MacPawFixel/FixelText-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100vw;
  padding: 8px 50px;
  background: rgba(17, 17, 17, 0.4);
  backdrop-filter: blur(20px);
}
.header > * {
  flex: 1;
}
.header__logo img {
  height: 82px;
  width: 148px;
}
.header__nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.header__nav__list__item__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(242, 243, 255, 0.5);
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
}
.header__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 42px;
}
.header__buttons__lang {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.header__buttons__lang__current {
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  border: 2px solid #FFFFFF;
  color: #F2F3FF;
  background: rgba(17, 17, 17, 0.4);
  backdrop-filter: blur(20px);
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
}
.header__buttons__lang__current span {
  font-weight: 300;
}
.header__buttons__lang__dropdown {
  display: none;
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  color: #F2F3FF;
  background: rgba(17, 17, 17, 0.9);
  padding: 5px 0;
  min-width: 100%;
  z-index: 1000;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
}
.header__buttons__lang__dropdown__option {
  border-top: 1px solid #FFFFFF;
  padding: 10px 30px;
  cursor: pointer;
}
.header__buttons .active .header__buttons__lang__dropdown {
  display: block;
}
.header__buttons__buy-now {
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 172px;
  padding: 16px 40px;
  gap: 10px;
  border: 0px;
  background: #A40806;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  leading-trim: both;
  text-edge: cap;
  text-transform: uppercase;
  text-wrap: nowrap;
  color: #FFFFFF;
}

@media (hover: hover) {
  .header__nav__list__item__link:hover {
    font-weight: 700;
    color: #F2F3FF;
  }
  .header__buttons__lang__current:hover {
    box-shadow: 0px 0px 30px rgba(164, 8, 6, 0.5);
  }
  .header__buttons__buy-now:hover {
    border: 6px solid #A40806;
    box-shadow: 0px 0px 30px #A40806;
    font-weight: 700;
  }
}
@media (hover: none) {
  .header__nav__list__item__link:active {
    font-weight: 700;
    color: #F2F3FF;
  }
  .header__buttons__lang__current:active {
    box-shadow: 0px 0px 30px rgba(164, 8, 6, 0.5);
  }
  .header__buttons__buy-now:active {
    border: 6px solid #A40806;
    box-shadow: 0px 0px 30px #A40806;
    font-weight: 700;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 120px 95px;
  gap: 36px;
}
.footer__line {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, rgba(164, 8, 6, 0) 0%, #A40806 46.35%, rgba(164, 8, 6, 0) 100%);
}
.footer__rights {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  leading-trim: both;
  text-edge: cap;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.banner {
  background-image: url("/assets/images/backgrounds/home-bg.webp");
  background-size: cover;
  background-position: center;
  height: 720px;
}
.banner__content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
}
.banner__content__fog_ellipse {
  position: absolute;
  top: -100px;
  width: 100%;
  height: auto;
  max-width: 520px;
  aspect-ratio: 1;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background: rgba(17, 4, 4, 0.75);
  filter: blur(75px);
}
@media (max-width: 520px) {
  .banner__content__fog_ellipse {
    top: 0;
  }
}
.banner__content__fog_bottom {
  position: absolute;
  width: 100%;
  height: 382px;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
  z-index: 1;
}
.banner__content__logo-image {
  position: absolute;
  top: 100px;
  width: 100%;
  max-width: 414px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.banner__content__hero-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
  top: 0;
  object-fit: cover;
  margin: 38px auto 32px;
}
.banner__content__platforms {
  position: absolute;
  bottom: 151px;
  width: 100%;
  background: rgba(17, 17, 17, 0.05);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  z-index: 10;
}
.banner__content__platforms__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 0;
}
.banner__content__platforms__container h4 {
  margin: 0;
  text-transform: uppercase;
  font-family: "MacPawFixel";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 75px #000000;
}
.banner__content__platforms__container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px 60px;
}
.banner__content__platforms__container img {
  width: 56px;
  height: 56px;
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
}

@media (hover: hover) {
  .banner__content__platforms__container img:hover {
    filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
  }
}
@media (hover: none) {
  .banner__content__platforms__container img:active {
    filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
  }
}
.about {
  width: 100%;
  height: 570px; /* или любое другое значение */
  position: relative; /* важно для правильного позиционирования */
  overflow: hidden;
  --swiper-pagination-bottom: 40px;
}
.about__wrapper {
  width: 100%;
  height: 100%;
}
.about__wrapper__slide {
  display: flex !important;
  justify-content: flex-start;
  text-align: start;
}
.about__wrapper__slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  height: 100%;
  width: 50%;
  padding-top: 124px;
}
.about__wrapper__slide-content h3 {
  text-wrap: wrap;
  text-transform: uppercase;
  font-family: "MacPawFixel";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 120%;
  /* or 84px */
}
.about__wrapper__slide-content-line {
  height: 8px;
  width: 100%;
  border: none;
  background: #A40806;
}
.about__wrapper__slide-content p {
  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.about__wrapper__slide-content h3, .about__wrapper__slide-content p {
  margin: 0;
  padding: 0 0 0 120px;
  color: #FFFFFF;
}
.about__wrapper__slide:nth-child(even) {
  justify-content: flex-end;
}
.about__wrapper__slide:nth-child(even) .about__wrapper__slide-content h3, .about__wrapper__slide:nth-child(even) .about__wrapper__slide-content p {
  padding: 0 120px 0 0;
}
.about__wrapper__slide:nth-child(1) {
  background-image: url("/assets/images/backgrounds/about-bg-1.webp");
  background-size: cover;
  background-position: center;
}
.about__wrapper__slide:nth-child(2) {
  background-image: url("/assets/images/backgrounds/about-bg-2.webp");
  background-size: cover;
  background-position: center;
}
.about__wrapper__slide:nth-child(3) {
  background-image: url("/assets/images/backgrounds/about-bg-3.webp");
  background-size: cover;
  background-position: center;
}

.news {
  background-image: url("/assets/images/backgrounds/news-bg.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-wrap: wrap;
  gap: 68px;
  padding: 106px 120px 90px;
}
.news__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}
.news__content * {
  flex: 1;
}
.news__content__latest {
  max-width: 100%;
}
.news__content__latest img {
  width: 100%;
  max-width: 580px;
}
.news__content__feed {
  width: 100%;
  max-width: 500px;
  height: 600px;
}
.news__content__feed-item {
  width: 100%;
  padding: 0 30px;
  border-left: 4px solid #A40806;
}
.news__content__feed-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
}
.news__date {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
}
.news__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 30px;
}
.news__subtitle {
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  /* or 35px */
  leading-trim: both;
  text-edge: cap;
}
.news__subtitle-latest {
  font-size: 45px;
  /* or 45px */
  leading-trim: both;
  text-edge: cap;
  letter-spacing: 0.02em;
}
.news__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  /* or 22px */
  leading-trim: both;
  text-edge: cap;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  text-decoration-line: underline;
}
.news h2 {
  letter-spacing: 0.02em;
}
.news p, .news h3 {
  color: #FCFBF9;
}
.news a {
  color: #FFFFFF;
}
.news .swiper-scrollbar {
  --swiper-scrollbar-bg-color: #FFFFFF1A;
  --swiper-scrollbar-drag-bg-color: rgba(255, 255, 255, 0.5);
  --swiper-scrollbar-size: 4px;
  --swiper-scrollbar-top: auto;
}
.news .swiper-scrollbar-drag > .additional-scrollbar {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(2px);
  background: rgba(255, 255, 255, 0.5);
  -webkit-filter: blur(2px);
}

.gallery {
  background-color: #111111;
  padding: 110px 82px 86px;
  position: relative;
}
.gallery__fog_red {
  position: absolute;
  top: 8%;
  left: 34%;
  width: 321px;
  height: auto;
  aspect-ratio: 1;
  background: #A40806;
  filter: blur(250px);
  -webkit-filter: blur(250px);
}
.gallery__switcher {
  display: flex !important;
  flex-direction: column;
  gap: 48px;
}
.gallery__switcher__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0 38px;
}
.gallery__switcher__header > * {
  flex: 1;
}
.gallery__switcher__header__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.gallery__switcher__header__controls > .swiper-pagination,
.gallery__switcher__header__controls > .swiper-scrollbar {
  position: unset !important;
  width: 100% !important;
}
.gallery__switcher__header__controls > .swiper-pagination {
  display: flex !important;
  justify-content: space-between;
  width: 100% !important;
}
.gallery__switcher__header__controls > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 !important;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  color: #FCFBF9;
  opacity: 0.5;
  background: transparent;
}
.gallery__switcher__header__controls > .swiper-pagination .swiper-pagination-bullet-active {
  color: #FCFBF9;
  opacity: 1;
  background: transparent;
}
.gallery__switcher__header__controls > .swiper-scrollbar {
  --swiper-scrollbar-bg-color: rgba(255, 255, 255, 0.1);
  --swiper-scrollbar-drag-bg-color: #fff;
  --swiper-scrollbar-size: 4px;
  left: 0;
}
.gallery__switcher__header__controls > .swiper-scrollbar .swiper-scrollbar-drag > .additional-scrollbar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(5px);
  -webkit-filter: blur(5px);
  z-index: 1;
}
.gallery__switcher__header h2 {
  text-align: start;
}
.gallery__switcher__header .swiper-pagination-bullet {
  width: auto;
  height: auto;
  background: transparent;
  border: none;
}
.gallery__switcher__header .swiper-pagination-bullet-active {
  background: transparent;
}
.gallery__switcher__inner {
  width: 100%;
  height: 100%; /* Убедитесь, что высота позволяет отображение пагинации */
  position: static !important;
}
.gallery__switcher__inner_fog_black-sides {
  position: absolute;
  width: 100%;
  height: calc(100% - 88px);
  z-index: 40;
  background: linear-gradient(90deg, #111111 0%, rgba(17, 17, 17, 0) 48.44%, #111111 100%);
}
.gallery__switcher__inner > .swiper-wrapper {
  padding-bottom: 88px;
}
.gallery__switcher__inner > .swiper-wrapper .swiper-slide {
  height: 337px;
  width: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__switcher__inner > .swiper-wrapper .swiper-slide video {
  height: 337px;
  width: auto;
}
.gallery__switcher__inner__button-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 88px);
}
.gallery__switcher__inner__button-navigation .swiper-button-next,
.gallery__switcher__inner__button-navigation .swiper-button-prev {
  position: relative;
  top: unset !important;
  bottom: unset !important;
  width: 76px;
  height: 76px;
  background: #111111;
  z-index: 50;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.gallery__switcher__inner__button-navigation .swiper-button-next::after,
.gallery__switcher__inner__button-navigation .swiper-button-prev::after {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 11px;
}
.gallery__switcher__inner .swiper-pagination {
  position: absolute;
  bottom: 0px !important;
}
.gallery__switcher__inner .swiper-pagination > .swiper-pagination-bullets, .gallery__switcher__inner .swiper-pagination .swiper-pagination-custom, .gallery__switcher__inner .swiper-pagination .swiper-pagination-fraction {
  bottom: 0px !important;
}
.gallery__switcher .photos .swiper-slide:nth-child(1) {
  background-image: url("/assets/images/content/gallety_photo 1.png");
  background-size: cover;
  background-position: center;
}
.gallery__switcher .photos .swiper-slide:nth-child(2) {
  background-image: url("/assets/images/content/gallety_photo 2.png");
  background-size: cover;
  background-position: center;
}
.gallery__switcher .photos .swiper-slide:nth-child(3) {
  background-image: url("/assets/images/content/gallety_photo 1.png");
  background-size: cover;
  background-position: center;
}
.gallery__switcher .photos .swiper-slide:nth-child(4) {
  background-image: url("/assets/images/content/gallety_photo 2.png");
  background-size: cover;
  background-position: center;
}
.gallery .swiper {
  width: 100%;
  height: 100%;
  margin: 0;
}
.gallery .swiper, .gallery .swiper-wrapper, .gallery .swiper-slide {
  background: transparent;
}

.container {
  max-width: 100%;
  margin-inline: auto;
  padding: 0 38px;
}

.swiper-container {
  position: relative;
}

:root {
  --swiper-navigation-sides-offset: -38px; /* offset for navigation */
}

.availability {
  width: 100%;
  margin-top: -34px;
  position: relative;
  padding: 89px 275px 161px;
  background-image: url("/assets/images/backgrounds/availability-bg.webp");
  background-size: cover;
  background-position: center;
}
.availability__fog_top {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 325px;
  background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
}
.availability__fog_bottom {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 238px;
  background: linear-gradient(0, #111111 0%, rgba(17, 17, 17, 0) 100%);
}
.availability__content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 69px;
}
.availability__content__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  list-style-type: none;
}
.availability__content__links img {
  height: 100px;
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
}

@media (hover: hover) {
  .availability__content__links img:hover {
    filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
  }
}
@media (hover: none) {
  .availability__content__links img:active {
    filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
  }
}
.newsletter {
  position: relative;
}
.newsletter__fog_red {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  position: absolute;
  top: 72px;
  height: auto;
  width: 321px;
  aspect-ratio: 1;
  background: #A40806;
  filter: blur(250px);
  -webkit-filter: blur(250px);
  z-index: 10;
}
.newsletter__content {
  position: relative;
  z-index: 20;
  padding: 24px 120px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.newsletter__content__subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-top: 52px;
  gap: 64px;
}
.newsletter__content__subscription-form__input-text-group {
  position: relative;
  width: 100%;
}
.newsletter__content__subscription-form__input-text-group label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-wrap: nowrap;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.newsletter__content__subscription-form__input-text-group input {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.025) 48.44%, rgba(255, 255, 255, 0) 100%);
  border: 2px solid #A40806;
  outline: none;
  width: 100%;
  max-width: 600px;
  padding: 29px 16px;
  text-align: center;
}
.newsletter__content__subscription-form__input-text-group input:not(:placeholder-shown) ~ label, .newsletter__content__subscription-form__input-text-group input:focus ~ label {
  padding: 0 10px;
  background: #A40806;
  width: auto;
  font-size: 16px;
  letter-spacing: 0.4em;
  transform: translateY(-170%) translateX(-50%);
  -webkit-transform: translateY(-170%) translateX(-50%);
  -moz-transform: translateY(-170%) translateX(-50%);
  -ms-transform: translateY(-170%) translateX(-50%);
  -o-transform: translateY(-170%) translateX(-50%);
  transition: transform 1s ease, background 1s ease 0.1s;
  -webkit-transition: transform 1s ease, background 1s ease 0.1s;
  -moz-transition: transform 1s ease, background 1s ease 0.1s;
  -ms-transition: transform 1s ease, background 1s ease 0.1s;
  -o-transition: transform 1s ease, background 1s ease 0.1s;
}
.newsletter__content__subscription-form__input-text-group input,
.newsletter__content__subscription-form__input-text-group label {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  color: #FFFFFF;
}
.newsletter__content__subscription-form__privacy-policy {
  position: relative;
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FCFBF9;
  padding-left: calc(14px + 38px);
  /* Стили для псевдоэлемента чекбокса */
  /* Стили для состояния checked */
}
.newsletter__content__subscription-form__privacy-policy a {
  color: #A40806;
}
.newsletter__content__subscription-form__privacy-policy input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.newsletter__content__subscription-form__privacy-policy::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  border: 2px solid #A40806;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.025) 48.44%, rgba(255, 255, 255, 0) 100%);
  transition: background-color 0.3s ease;
}
.newsletter__content__subscription-form__privacy-policy input:checked + label::before {
  background-color: #A40806;
}
.newsletter__content__subscription-form button {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height */
  text-transform: uppercase;
  color: #A40806;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  cursor: pointer;
  background: rgba(17, 17, 17, 0.5);
  border: 4px solid #A40806;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.75);
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
}
.newsletter__content__follow-links {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 113px;
  width: 100%;
  max-width: 600px;
  gap: 41px;
}
.newsletter__content__follow-links h3 {
  font-weight: 600;
  font-size: 45px;
  line-height: 62px;
  leading-trim: both;
  text-edge: cap;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FCFBF9;
}
.newsletter__content__follow-links__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 68px;
}
.newsletter__content__follow-links__wrapper__row_bright, .newsletter__content__follow-links__wrapper__row_dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
}
.newsletter__content__follow-links__wrapper__row_bright img, .newsletter__content__follow-links__wrapper__row_dark img {
  height: auto;
  max-height: 75px;
  max-width: 125px;
  width: auto;
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
}

@media (hover: hover) {
  .newsletter__content__subscription-form button:hover {
    background: #A40806;
    color: #111111;
    box-shadow: 0px 1px 50px 0px rgba(164, 8, 6, 0.7490196078);
  }
  .newsletter__content__follow-links__wrapper__row_bright img:hover {
    filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
  }
  .newsletter__content__follow-links__wrapper__row_dark img:hover {
    filter: drop-shadow(0px 0px 50px #A40806);
    -webkit-filter: drop-shadow(0px 0px 50px #A40806);
  }
}
@media (hover: none) {
  .newsletter__content__subscription-form button:active {
    background: #A40806;
    color: #111111;
    box-shadow: 0px 1px 50px 0px rgba(164, 8, 6, 0.7490196078);
  }
  .newsletter__content__follow-links__wrapper__row_bright img:active {
    filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
  }
  .newsletter__content__follow-links__wrapper__row_dark img:active {
    filter: drop-shadow(0px 0px 50px #A40806);
    -webkit-filter: drop-shadow(0px 0px 50px #A40806);
  }
}

/*# sourceMappingURL=main.css.map */
